{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Аккаунт</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Вы кладовщик!</h1>

    <p>На складе хранятся товары разных категорий. Каждая приходящая на склад партия товаров фиксируется кладовщиком и складируется на стеллажи согласно габаритам товара (стеллажи имеют разную ёмкость и габариты).</p>

    <h2>Функции кладовщика:</h2>

    <h3>1. Фиксация прихода товара</h3>
    <h3>2. Фиксация выдачи товара</h3>
    <h3>3. Подбор свободных стеллажей</h3>
    <h3>4. Поиск товара на складе</h3>
    <h3>5. Проверка возможности приемки товара</h3>

    <a href="{% url 'home' %}">На главную страницу</a>
</body>
</html>
